

    <form method="POST" action="{{path('fsp_validerajouter')}}" class="formAjouter">
      <div class="ajouter">
       <label for="titre"> Titre : </label>
       <input id="titre" type="text" name="titre"/></br>
       <br/>
       <label for="date"> Date : </label>
       <input id="date" type="date" name="date"/></br>
       <br/>
       <label for="langue"> Langue : </label>
       <select id="langue" name="langue">
        <option value='Toutes les langues' select="selected">Toutes les langues</option>
        <option value="Français">Français</option>
        <option value='Anglais'>Anglais</option>
        <option value='Chinois'>Chinois</option>
       </select></br>
       <br/>
       <label for="theme"> Thème : </label>
       <select id="theme" name="theme">
        <option value="Tous les themes" select="selected">Tous les thèmes</option>
        <option value="1">Logement</option>
        <option value="2">Cours</option>
        <option value="3">Evénement</option>
        <option value="4">Culture</option>
       </select></br>
       <br/>
       <label for="info"> Contenu de l'annonce : </label></br>
       <textarea name="contenu" id="info" rows="10" cols="50"  onfocus="if(this.value=='Votre annonce ici.'){this.value='';}" onblur="if(this.value==''){this.value='Votre annonce ici.';}">Votre annonce ici.</textarea>
       <br/>
       <input id="validerIns" type="submit" value="Valider" name="valider"/>
       <input id="annulerIns" type="reset" value="Annuler" name="annuler"/>
      </div>
    </form>



